<!DOCTYPE html>
<html>
    <heaad>
        <meta charset="utf-8">
        <title>Login ejs template</title>
    </heaad>
    <body>
        <h1><%= response %></h1>
        <% if (result) { %>
            <img src="images/login.png" alt="" width="300px;"><br>
        <% } else { %>
            <img src="images/login_err.png" alt="" width="100px;"><br>
        <% } %>
        <a href="/login">go to login page</a>
    </body>
</html>