<!DOCTYPE html>
<html>
    <heaad>
        <meta charset="utf-8">
        <title>Success Join ejs template</title>
    </heaad>
    <body>
        <h1> Welcome <%= name %> !!</h1>

        <a href="/login">go to login page</a>
    </body>
</html>